In [11]:
#importing essential libraries
import numpy as np
import pandas as pd

In [2]:
#loading my netflix dataset
df = pd.read_csv("NFLX.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900
...,...,...,...,...,...,...,...
1004,2022-01-31,401.970001,427.700012,398.200012,427.140015,427.140015,20047500
1005,2022-02-01,432.959991,458.480011,425.540009,457.130005,457.130005,22542300
1006,2022-02-02,448.250000,451.980011,426.480011,429.480011,429.480011,14346000
1007,2022-02-03,421.440002,429.260010,404.279999,405.600006,405.600006,9905200
1008,2022-02-04,407.309998,412.769989,396.640015,410.170013,410.170013,7782400

In [3]:
#deleting date and adj close columns
del df["Date"]
del df["Adj Close"]
df

            Open        High         Low       Close    Volume
0     262.000000  267.899994  250.029999  254.259995  11896100
1     247.699997  266.700012  245.000000  265.720001  12595800
2     266.579987  272.450012  264.329987  264.559998   8981500
3     267.079987  267.619995  250.000000  250.100006   9306700
4     253.850006  255.800003  236.110001  249.470001  16906900
...          ...         ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  427.140015  20047500
1005  432.959991  458.480011  425.540009  457.130005  22542300
1006  448.250000  451.980011  426.480011  429.480011  14346000
1007  421.440002  429.260010  404.279999  405.600006   9905200
1008  407.309998  412.769989  396.640015  410.170013   7782400

[1009 rows x 5 columns]

In [4]:
#seperating close column
Y = np.array(df["Close"])
Y

array([254.259995, 265.720001, 264.559998, ..., 429.480011, 405.600006,
       410.170013])

In [5]:
#deleting close column after seperating in Y variable
del df["Close"]
df

            Open        High         Low    Volume
0     262.000000  267.899994  250.029999  11896100
1     247.699997  266.700012  245.000000  12595800
2     266.579987  272.450012  264.329987   8981500
3     267.079987  267.619995  250.000000   9306700
4     253.850006  255.800003  236.110001  16906900
...          ...         ...         ...       ...
1004  401.970001  427.700012  398.200012  20047500
1005  432.959991  458.480011  425.540009  22542300
1006  448.250000  451.980011  426.480011  14346000
1007  421.440002  429.260010  404.279999   9905200
1008  407.309998  412.769989  396.640015   7782400

[1009 rows x 4 columns]

In [6]:
#Converting whole dataset into 2-D array
X = df.values
X

array([[2.62000000e+02, 2.67899994e+02, 2.50029999e+02, 1.18961000e+07],
       [2.47699997e+02, 2.66700012e+02, 2.45000000e+02, 1.25958000e+07],
       [2.66579987e+02, 2.72450012e+02, 2.64329987e+02, 8.98150000e+06],
       ...,
       [4.48250000e+02, 4.51980011e+02, 4.26480011e+02, 1.43460000e+07],
       [4.21440002e+02, 4.29260010e+02, 4.04279999e+02, 9.90520000e+06],
       [4.07309998e+02, 4.12769989e+02, 3.96640015e+02, 7.78240000e+06]])

In [7]:
#importing model_selection from sklearn for spliting X and Y into training and testing
from sklearn import model_selection
X_train, X_test ,Y_train,Y_test = model_selection.train_test_split(X,Y, test_size = 0.3) 
X_train,Y_train

(array([[3.78290009e+02, 3.81399994e+02, 3.75559998e+02, 3.73220000e+06],
        [5.49500000e+02, 5.54330017e+02, 5.30030029e+02, 6.34740000e+06],
        [3.53230011e+02, 3.57309998e+02, 3.49010010e+02, 7.97090000e+06],
        ...,
        [2.57290009e+02, 2.61410004e+02, 2.54699997e+02, 6.85520000e+06],
        [5.51130005e+02, 5.56900024e+02, 5.47570007e+02, 4.30980000e+06],
        [2.92750000e+02, 2.95250000e+02, 2.83829987e+02, 1.19321000e+07]]),
 array([380.549988, 530.789978, 351.829987, 371.709991, 323.309998,
        488.929993, 290.299988, 524.890015, 629.76001 , 485.799988,
        314.660004, 518.059998, 611.      , 329.089996, 529.559998,
        312.48999 , 368.329987, 624.940002, 495.98999 , 452.579987,
        658.289978, 503.839996, 351.269989, 312.279999, 548.159973,
        351.600006, 533.030029, 260.579987, 663.840027, 477.579987,
        559.070007, 364.700012, 486.690002, 360.299988, 379.5     ,
        268.149994, 294.149994, 310.839996, 553.409973, 604.559998,
        363.089996, 284.25    , 264.559998, 482.679993, 364.079987,
        514.47998 , 307.630005, 546.700012, 553.72998 , 586.340027,
        513.469971, 540.669983, 356.869995, 375.429993, 379.959991,
        508.820007, 421.420013, 493.329987, 419.600006, 493.480011,
        374.850006, 602.440002, 377.140015, 262.799988, 480.630005,
        311.76001 , 369.429993, 470.609985, 278.049988, 523.26001 ,
        288.859985, 497.519989, 379.929993, 275.299988, 547.580017,
        605.039978, 338.920013, 520.700012, 490.700012, 476.26001 ,
        295.029999, 363.600006, 437.48999 , 307.019989, 258.820007,
        454.190002, 265.320007, 508.779999, 501.769989, 292.859985,
        502.779999, 503.179993, 519.299988, 265.140015, 288.269989,
        516.049988, 606.049988, 342.880005, 496.079987, 308.929993,
        552.159973, 486.279999, 366.420013, 493.809998, 343.089996,
        366.600006, 370.959991, 544.530029, 519.780029, 553.330017,
        604.919983, 368.769989, 654.059998, 351.390015, 366.959991,
        505.869995, 498.309998, 321.549988, 664.780029, 668.400024,
        507.019989, 283.109985, 339.070007, 317.940002, 349.290009,
        523.109985, 297.809998, 591.150024, 492.309998, 509.079987,
        476.890015, 293.119995, 289.570007, 577.76001 , 496.950012,
        291.570007, 309.25    , 550.789978, 355.209991, 486.769989,
        489.820007, 309.98999 , 361.459991, 369.950012, 540.02002 ,
        424.98999 , 354.73999 , 516.48999 , 315.      , 475.73999 ,
        278.549988, 352.600006, 327.769989, 332.829987, 334.519989,
        519.969971, 324.660004, 331.820007, 421.380005, 291.440002,
        487.220001, 353.399994, 486.660004, 525.75    , 266.980011,
        373.25    , 310.480011, 498.619995, 354.640015, 302.5     ,
        511.290009, 332.220001, 355.059998, 563.590027, 504.209991,
        381.890015, 333.160004, 539.440002, 588.549988, 364.709991,
        501.670013, 359.609985, 488.23999 , 681.169983, 518.02002 ,
        513.950012, 364.559998, 357.130005, 365.48999 , 422.959991,
        309.380005, 361.410004, 381.399994, 329.540009, 295.76001 ,
        359.929993, 298.070007, 268.029999, 325.899994, 482.880005,
        376.160004, 599.059998, 294.179993, 416.76001 , 372.279999,
        510.820007, 534.659973, 368.970001, 476.619995, 457.130005,
        356.269989, 384.359985, 348.519989, 414.329987, 367.320007,
        319.75    , 582.070007, 349.359985, 337.589996, 363.829987,
        590.530029, 315.880005, 306.700012, 547.919983, 262.130005,
        498.339996, 266.769989, 633.799988, 280.269989, 361.049988,
        250.100006, 363.649994, 332.940002, 348.869995, 418.970001,
        346.48999 , 365.359985, 315.899994, 513.630005, 540.679993,
        369.75    , 339.26001 , 318.829987, 318.450012, 324.179993,
        509.109985, 266.      , 507.76001 , 485.      , 317.5     ,
        540.840027, 548.219971, 326.459991, 551.340027, 348.109985,
        355.730011, 325.890015, 677.719971, 345.609985, 370.079987,
        436.130005, 550.640015, 386.700012, 387.779999, 359.910004,
        493.600006, 541.450012, 319.5     , 485.809998, 518.909973,
        542.950012, 320.089996, 322.440002, 527.51001 , 304.290009,
        525.419983, 591.059998, 508.890015, 336.059998, 515.409973,
        351.339996, 370.540009, 292.01001 , 321.98999 , 348.410004,
        495.649994, 381.049988, 379.480011, 639.      , 333.130005,
        535.090027, 369.01001 , 246.389999, 492.410004, 470.200012,
        524.830017, 539.450012, 315.470001, 515.840027, 371.040009,
        383.790009, 285.769989, 282.929993, 479.100006, 522.859985,
        438.269989, 541.640015, 494.730011, 597.369995, 370.980011,
        303.670013, 610.539978, 489.429993, 427.309998, 625.140015,
        517.349976, 355.809998, 285.809998, 532.900024, 646.909973,
        503.059998, 352.190002, 269.700012, 326.399994, 365.98999 ,
        373.690002, 304.209991, 556.780029, 363.910004, 499.100006,
        360.089996, 357.119995, 350.350006, 341.309998, 326.459991,
        428.149994, 429.480011, 491.899994, 419.48999 , 351.850006,
        294.160004, 682.609985, 363.019989, 334.959991, 270.940002,
        345.559998, 291.029999, 641.900024, 347.570007, 469.959991,
        426.75    , 405.600006, 358.820007, 360.869995, 501.089996,
        484.529999, 300.690002, 357.320007, 351.350006, 353.540009,
        490.76001 , 339.730011, 377.880005, 558.919983, 484.670013,
        328.899994, 515.859985, 521.869995, 533.5     , 524.440002,
        627.039978, 485.230011, 488.23999 , 359.970001, 325.220001,
        540.219971, 553.409973, 363.920013, 509.      , 349.100006,
        320.350006, 291.380005, 655.98999 , 293.75    , 513.969971,
        674.049988, 552.780029, 414.769989, 657.580017, 502.359985,
        355.929993, 282.649994, 535.960022, 320.799988, 274.459991,
        304.320007, 362.660004, 344.440002, 286.130005, 466.929993,
        302.859985, 527.070007, 470.5     , 293.25    , 534.450012,
        332.670013, 487.269989, 466.26001 , 354.609985, 361.920013,
        520.25    , 425.920013, 410.170013, 350.619995, 364.230011,
        286.809998, 345.730011, 547.950012, 346.709991, 436.529999,
        271.5     , 303.470001, 616.469971, 404.980011, 617.77002 ,
        504.540009, 301.829987, 270.720001, 625.580017, 451.040009,
        297.570007, 632.659973, 282.880005, 328.529999, 457.850006,
        341.179993, 569.190002, 339.100006, 333.100006, 611.659973,
        289.290009, 364.579987, 366.950012, 339.559998, 510.299988,
        546.880005, 419.730011, 295.350006, 315.549988, 500.029999,
        639.099976, 272.790009, 514.25    , 525.5     , 612.690002,
        499.549988, 255.570007, 365.799988, 329.049988, 343.279999,
        338.619995, 552.840027, 358.779999, 391.429993, 358.820007,
        310.619995, 267.660004, 590.650024, 480.23999 , 319.959991,
        592.390015, 554.090027, 298.839996, 301.049988, 356.559998,
        421.970001, 368.700012, 345.869995, 354.98999 , 364.970001,
        347.609985, 296.929993, 440.519989, 491.359985, 338.019989,
        266.630005, 473.079987, 286.279999, 361.76001 , 316.779999,
        493.369995, 285.929993, 481.790009, 488.880005, 281.859985,
        659.200012, 515.780029, 433.829987, 500.769989, 336.630005,
        338.690002, 398.179993, 315.480011, 488.51001 , 533.97998 ,
        380.070007, 315.440002, 386.190002, 475.470001, 346.459991,
        322.98999 , 613.119995, 367.649994, 488.809998, 482.029999,
        502.899994, 286.730011, 665.640015, 533.780029, 653.159973,
        541.059998, 276.820007, 549.219971, 269.579987, 487.700012,
        315.100006, 361.190002, 634.809998, 535.97998 , 510.399994,
        288.589996, 332.700012, 603.349976, 307.779999, 592.640015,
        326.890015, 691.690002, 419.850006, 398.390015, 307.299988,
        317.920013, 321.299988, 256.079987, 291.519989, 505.549988,
        628.289978, 509.640015, 330.75    , 315.339996, 362.869995,
        357.119995, 521.659973, 531.789978, 530.76001 , 354.390015,
        302.799988, 380.01001 , 395.420013, 512.400024, 557.590027,
        360.350006, 524.590027, 511.769989, 368.040009, 397.5     ,
        425.5     , 526.27002 , 293.970001, 328.190002, 374.130005,
        290.170013, 589.289978, 490.649994, 413.549988, 387.149994,
        351.140015, 371.119995, 326.670013, 349.600006, 403.829987,
        488.769989, 359.309998, 354.450012, 339.170013, 481.329987,
        367.880005, 361.209991, 271.269989, 368.149994, 514.72998 ,
        289.929993, 325.209991, 263.309998, 374.230011, 510.799988,
        288.029999, 480.450012, 323.570007, 358.      , 614.23999 ,
        294.339996, 504.579987, 361.450012, 290.609985, 435.549988,
        289.619995, 364.369995, 300.940002, 408.25    , 492.390015,
        520.809998, 332.700012, 528.210022, 610.340027, 503.220001,
        483.859985, 510.720001, 381.429993, 679.330017, 512.659973,
        415.630005, 512.179993, 431.820007, 610.710022, 688.289978,
        613.150024, 379.929993, 502.410004, 320.269989, 381.720001,
        270.600006, 586.5     , 390.519989, 491.170013, 254.589996,
        298.440002, 317.380005, 583.849976, 336.899994, 612.090027,
        390.399994, 327.730011, 370.459991, 517.570007, 502.109985,
        372.779999, 331.440002, 305.160004, 532.390015, 302.570007,
        316.480011, 371.829987, 276.019989, 523.280029, 265.720001,
        266.690002, 335.660004, 315.929993, 354.299988, 573.140015,
        426.700012, 270.75    , 538.599976, 480.670013, 484.980011,
        263.079987, 339.5     , 378.670013, 488.279999, 550.119995,
        539.849976, 321.089996, 524.880005, 253.669998, 434.049988,
        288.75    , 286.600006, 490.579987, 359.459991, 528.909973,
        593.73999 , 298.5     , 668.52002 , 586.72998 , 377.049988,
        326.      , 345.089996, 540.72998 , 362.98999 , 362.869995,
        537.309998, 380.709991, 517.919983, 497.890015, 362.200012,
        371.070007, 267.660004, 360.570007, 515.919983, 281.209991,
        353.160004, 280.290009, 489.049988, 258.269989, 554.580017,
        290.390015]))

In [8]:
print(X_train.shape)
print(Y_train.shape)

(706, 4)
(706,)

In [12]:
#importing Linear Regression model from sklearn for predicting closing stockes of netflix
from sklearn.linear_model import LinearRegression
algo = LinearRegression()
algo.fit(X_train,Y_train)
Y_predict = algo.predict(X_test)
print(Y_predict)
print(Y.shape)

[298.88122884 377.36155366 447.29941881 513.22751124 481.97982072
 309.50210519 383.00439995 491.51743846 361.99928065 314.0975381
 531.81384272 372.48175106 430.94948407 326.43305299 357.83848903
 288.69401802 299.81978123 601.0151806  286.09729484 364.5827556
 279.34354387 349.3823733  495.02168572 546.91464435 530.60621421
 539.20406704 437.98617346 331.9766581  315.08323459 480.82635213
 535.85615546 679.88263537 283.32074564 331.34314079 551.25086178
 529.98287842 343.88599966 518.94232143 364.49062267 564.43513258
 551.5311331  344.68433851 412.42666335 419.20115656 276.52925248
 375.23283304 290.13820653 366.94547154 307.68319227 495.01930638
 436.4884237  416.8330819  464.95203076 495.59644851 284.61982841
 290.72617364 266.72366057 479.31643942 342.06653543 354.48613658
 498.83232921 499.52073754 338.04186143 540.87535963 297.37334294
 529.31333376 241.75963264 481.32542115 359.8155441  350.27973166
 315.64935195 407.78685249 351.94854592 665.78430724 241.84036272
 337.91546634 370.60061883 295.91387904 368.93603553 329.02438882
 510.96053527 267.068816   369.17665294 365.98762625 497.95337242
 650.29025658 541.71527474 283.92571557 378.07588332 434.80790014
 574.97116843 325.51663454 551.81493489 390.03156606 461.2087425
 425.88854866 328.2631783  277.79888246 366.41216662 399.20683135
 360.55694015 502.5402794  307.6902569  356.97604574 317.74055786
 555.59748954 492.41537452 338.07981569 277.18780468 334.19844776
 369.15571343 257.06882577 341.28309155 334.15707369 506.9480595
 550.57528637 310.09658466 270.97578433 499.03874971 593.16659711
 341.6946982  355.93224987 441.10968534 506.14850354 370.63953961
 306.10807832 536.48667287 422.46635871 311.97165348 447.73292509
 353.9274073  260.15094222 360.81820942 558.74847956 284.68289395
 446.78548865 534.43344917 564.69741052 450.61182683 541.29638043
 368.07149604 517.45979564 555.91845006 515.95545565 307.41964167
 356.95152403 293.19591291 352.39541907 378.47258041 506.79479445
 316.16534962 298.68961483 347.92230426 506.61352873 481.52147943
 498.1395521  339.1465267  513.53522833 603.39839139 501.4421333
 365.66887091 489.58029173 345.1773265  531.56933632 311.19770559
 494.3681168  513.15992906 352.04826417 399.88346411 503.15580686
 484.45112406 596.39052148 578.71282571 524.14889518 553.5673709
 338.60591236 365.3599359  419.47911096 321.28648635 418.16290647
 608.92223187 271.12788425 341.42851326 356.15614578 315.75552225
 341.27732193 685.40487148 524.42096462 649.94095027 516.79342718
 310.11282399 355.66640287 364.27581595 301.12435368 350.88267967
 358.94329799 443.55759638 528.64510644 367.23568812 294.9901846
 434.46309575 407.17600339 324.23929368 333.37842963 325.61606804
 413.0779068  543.01402228 522.80528819 386.31331219 317.24720615
 336.312501   492.76717406 380.82447912 354.6615801  335.87528076
 305.60566019 682.7145456  382.92770723 294.3168084  323.8839598
 488.93514941 355.63813417 354.35077615 365.08177553 310.6083816
 508.79816002 505.68520849 501.80487767 502.23160308 610.12337944
 501.26008881 507.60149723 521.24224745 373.28842418 267.91952705
 364.58331245 363.72307698 344.15288298 528.58019739 353.23966581
 514.24577616 411.9506881  289.5060855  453.56885351 381.99501098
 395.67774977 284.62880294 290.67882354 341.90011243 509.30434872
 500.38748553 627.9629604  399.90088747 601.10766004 543.07075793
 357.53869188 581.33484581 481.69672173 375.85303178 356.2687362
 544.79340368 397.56452554 626.99587519 284.97040092 534.74801899
 435.22923278 514.98058854 286.4812798  393.07147156 357.58122758
 513.04024028 330.66927666 365.03624824 447.53875402 366.43329107
 305.32836464 325.15704007 534.53107025 326.72092967 363.36351562
 334.17233273 340.63854237 379.66377065 529.89720875 497.8924432
 490.27872788 346.8239199  524.55013698 353.92633411 685.40424454
 571.94882432 636.55883649 294.59979407 255.20962991 298.34729222
 320.25717794 298.92342617 569.7084115  488.43716699 262.89896902
 667.83520912 300.51833617 584.79730345]
(1009,)

In [10]:
#printing score of my model
score = algo.score(X_test,Y_test)
score

0.998596344517615